
Homework1/ALL_BUILD.vcxproj

Homework1/ALL_BUILD.vcxproj.filters

Homework1/cmake_install.cmake

Homework1/cmake.sln

Homework1/CMakeFiles/3.15.2/CMakeCCompiler.cmake

Homework1/CMakeFiles/3.15.2/CMakeCXXCompiler.cmake

Homework1/CMakeFiles/3.15.2/CMakeDetermineCompilerABI_C.bin

Homework1/CMakeFiles/3.15.2/CMakeDetermineCompilerABI_CXX.bin

Homework1/CMakeFiles/3.15.2/CMakeRCCompiler.cmake

Homework1/CMakeFiles/3.15.2/CMakeSystem.cmake

Homework1/CMakeFiles/3.15.2/CompilerIdC/CMakeCCompilerId.c

Homework1/CMakeFiles/3.15.2/CompilerIdC/CompilerIdC.exe

Homework1/CMakeFiles/3.15.2/CompilerIdC/CompilerIdC.vcxproj

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CMakeCCompilerId.obj

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.command.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.read.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/CL.write.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/CompilerIdC.lastbuildstate

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/link.command.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/link.read.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdC/Debug/CompilerIdC.tlog/link.write.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/CMakeCXXCompilerId.cpp

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/CompilerIdCXX.exe

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/CompilerIdCXX.vcxproj

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CMakeCXXCompilerId.obj

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.command.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.read.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CL.write.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/CompilerIdCXX.lastbuildstate

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.command.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.read.1.tlog

Homework1/CMakeFiles/3.15.2/CompilerIdCXX/Debug/CompilerIdCXX.tlog/link.write.1.tlog

Homework1/CMakeFiles/3.15.2/Debug/VCTargetsPath.tlog/VCTargetsPath.lastbuildstate

Homework1/CMakeFiles/3.15.2/VCTargetsPath.txt

Homework1/CMakeFiles/3.15.2/VCTargetsPath.vcxproj

Homework1/CMakeFiles/cmake.check_cache

Homework1/CMakeFiles/CMakeError.log

Homework1/CMakeFiles/CMakeOutput.log

Homework1/CMakeFiles/f7ec1db2f2782ebece7bc3d8917cdbaa/generate.stamp.rule

Homework1/CMakeFiles/f7ec1db2f2782ebece7bc3d8917cdbaa/INSTALL_force.rule

Homework1/CMakeFiles/f7ec1db2f2782ebece7bc3d8917cdbaa/PACKAGE_force.rule

Homework1/CMakeFiles/f7ec1db2f2782ebece7bc3d8917cdbaa/RUN_TESTS_force.rule

Homework1/CMakeFiles/generate.stamp

Homework1/CMakeFiles/generate.stamp.depend

Homework1/CMakeFiles/generate.stamp.list

Homework1/CMakeFiles/TargetDirectories.txt

Homework1/CPackConfig.cmake

Homework1/CPackSourceConfig.cmake

Homework1/CTestTestfile.cmake

Homework1/Debug/helloworld_cli.exe

Homework1/Debug/helloworld_cli.ilk

Homework1/Debug/helloworld_cli.pdb

Homework1/Debug/helloworld.lib

Homework1/Debug/helloworld.pdb

Homework1/Debug/test_version.exe

Homework1/Debug/test_version.ilk

Homework1/Debug/test_version.pdb

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/CL.command.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/CL.read.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/CL.write.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/custombuild.command.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/custombuild.read.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/custombuild.write.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/helloworld_cli.lastbuildstate

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/link.command.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/link.read.1.tlog

Homework1/helloworld_cli.dir/Debug/helloworld_cli.tlog/link.write.1.tlog

Homework1/helloworld_cli.dir/Debug/main.obj

Homework1/helloworld_cli.dir/Debug/vc141.pdb

Homework1/helloworld_cli.vcxproj

Homework1/helloworld_cli.vcxproj.filters

Homework1/helloworld.dir/Debug/helloworld.pdb

Homework1/helloworld.dir/Debug/helloworld.tlog/CL.command.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/CL.read.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/CL.write.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/custombuild.command.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/custombuild.read.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/custombuild.write.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/helloworld.lastbuildstate

Homework1/helloworld.dir/Debug/helloworld.tlog/Lib-link.read.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/Lib-link.write.1.tlog

Homework1/helloworld.dir/Debug/helloworld.tlog/Lib.command.1.tlog

Homework1/helloworld.dir/Debug/lib.obj

Homework1/helloworld.vcxproj

Homework1/helloworld.vcxproj.filters

Homework1/INSTALL.vcxproj

Homework1/INSTALL.vcxproj.filters

Homework1/PACKAGE.vcxproj

Homework1/PACKAGE.vcxproj.filters

Homework1/RUN_TESTS.vcxproj

Homework1/RUN_TESTS.vcxproj.filters

Homework1/test_version.dir/Debug/test_version.obj

Homework1/test_version.dir/Debug/test_version.tlog/CL.command.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/CL.read.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/CL.write.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/custombuild.command.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/custombuild.read.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/custombuild.write.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/link.command.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/link.read.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/link.write.1.tlog

Homework1/test_version.dir/Debug/test_version.tlog/test_version.lastbuildstate

Homework1/test_version.dir/Debug/vc141.pdb

Homework1/test_version.vcxproj

Homework1/test_version.vcxproj.filters

Homework1/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/ALL_BUILD.lastbuildstate

Homework1/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.command.1.tlog

Homework1/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.read.1.tlog

Homework1/Win32/Debug/ALL_BUILD/ALL_BUILD.tlog/custombuild.write.1.tlog

Homework1/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.command.1.tlog

Homework1/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.read.1.tlog

Homework1/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/custombuild.write.1.tlog

Homework1/Win32/Debug/ZERO_CHECK/ZERO_CHECK.tlog/ZERO_CHECK.lastbuildstate

Homework1/ZERO_CHECK.vcxproj

Homework1/ZERO_CHECK.vcxproj.filters
